h1 {
  color: tomato;
}

.container {
  width: 700px;
  border: 2px solid black;
  padding: 4% 6%;
  margin-top: 10%;
}

.dropdown {
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
}

.selected {
  color: #22bdf0;
}

.high {
  color: red;
}

.task-form {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 230px;
}

input {
  text-align: center;
}

.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 8px 25px;
  background: #22bdf0;
  color: white;
  font-size: 16px;
  border: 2px solid #22bdf0;
}

.add-button:hover {
  background: white;
  color: #22bdf0;
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}
